{% extends 'base.html' %}
{% block content %}
<h2>Add New Quiz</h2>
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label>Title</label>
        <input type="text" class="form-control" name="title" required>
    </div>
    <div class="mb-3">
        <label>Category</label>
        <select class="form-control" name="category_id" required>
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select>
    </div>
       <div class="mb-3">
        <label>Time Limit (in minutes)</label>
        <input type="number" class="form-control" name="time_limit" value="10" required>
    </div>
    <div class="d-grid"><button class="btn btn-primary">Add Quiz</button></div>
</form>
{% endblock %}
